<div class='span12'>
  <div align="right" style="float:right">
    <span class="label label-info"><%= @items.length %> / <%= @count %></span>
    <span class="label label-info">threshold : <%= @threshold %></span>
  </div>
</div>

<div class='span12'>

  <% @items.each do |item| %>
      <div id="<%= item.id %>" class="feed">
        <span class="badge badge-important badge-large"><%= item.point %></span>

        <%= link_to '', { action: 'up', method: 'post', remote: true, title: item.title, id: item.id, "data-type" => "html" },
                        { class: 'icon-arrow-up icon-large btn btn-warning'} %>

        <%= link_to '', { action: 'down', method: 'post', remote: true, title: item.title, id: item.id, "data-type" => "html"  },
                        { class:  'icon-arrow-down icon-large btn btn'} %>

        &nbsp;<span class="title"><a href="<%= item.url %>" target="_blank" ><%= item.title %></a> - <%= item.date.strftime("%Y/%m/%d") %></span>
        <div style="margin-left:50px;color:gray;">
          <%= item.surfaces.join(' , ') %>
       </div>
    </div>
  <% end %>

</div>


<div  class='span12'>
  <p/>
</div>

<div class="span4">
  <%= form_tag :action => "done" do |f| %>
    <%= button_tag "既読にする", :class => "btn btn-large btn-primary" %>
    <%= hidden_field_tag "done_list", "#{@items.map{|item| item.id}.join(',')}" %>
  <% end %>
</div>
<div class="span7" align="right">
  <%= form_tag action: "done_all" do |f| %>
    <%= button_tag "全て既読にする", class: "btn btn-large btn-danger", confirm: 'read all?'  %>
  <% end %>
</div>
