
<div class='span12'>

  <% @items.each do |item| %>
      <div id="<%= item.id %>">
        <span class="badge badge-important badge-large"><%= item.point %></span>

        <%= link_to '', { action: 'up', method: 'post', remote: true, title: item.title, id: item.id, "data-type" => "html" },
                        { class: 'icon-arrow-up icon-large btn btn-warning'} %>

        <%= link_to '', { action: 'down', method: 'post', remote: true, title: item.title, id: item.id, "data-type" => "html"  },
                        { class:  'icon-arrow-down icon-large btn btn'} %>

        &nbsp;<span class="title"><a href="<%= item.url %>" target="_blank" ><%= item.title %></a> - <%= item.date.strftime("%Y/%m/%d") %></span>
        <div style="margin-left:50px;color:gray;">
          <%= item.surfaces.join(' , ') %>
       </div>
    </div>
  <% end %>

</div>


<div  class='span12'>
  <p/>
</div>

<% if @items.empty? %>
  <div class="alert alert-block span10">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span>no entry</span>
  </div>
<% else %>
  <div class="span9" align="left">
    <%= form_tag :action => "done" do |f| %>
      <%= button_tag "done", class: "btn btn-large btn-primary", style: 'width:250px' %>
      <%= hidden_field_tag "done_list", "#{@items.map{|item| item.id}.join(',')}" %>
    <% end %>
  </div>
  <div class="span2">
    <%= form_tag action: "done_all" do |f| %>
      <%= button_tag "done all", class: "btn btn-large btn-danger", style: 'width:250px', confirm: 'read all?'  %>
    <% end %>
  </div>
<% end %>
